<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Samudra Harapan Bekti · Blog</title>
    <meta name="description" content="Personal website of Samudra Harapan Bekti.">

    <style type="text/css"></style>

</head>

<body>
    <header>
        <h1>Samudra Bekti's Personal Site</h1>
        <p>
            <a href="/">Home</a> ·
            <a href="/resume">Resume</a> ·
            <a href="/blog">Blog</a> ·
            <a href="https://intern.corp.bekti.com">Intern</a>
        </p>
        <hr>
    </header>
    <article>
        <header>
            <h1>Blog</h1>
        </header>
        <p>Coming soon!</p>
    </article>
    <footer>
        <hr>

        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td>Copyright © 1999-2025 Samudra Bekti</td>
                    <td align="right">
                        <img src="/static/images/iegetms.gif" alt="Get Microsoft Internet Explorer" />
                        <img src="/static/images/notepad-logo3.gif" alt="Made with Notepad" />
                        <img src="/static/images/valid-html401.png" alt="Valid HTML 4.01 Transitional" />
                    </td>
                </tr>
                <tr>
                    <td>I do not speak for my employer.</td>
                </tr>
            </tbody>
        </table>
    </footer>
</body>

</html>